<%= render 'navbar_for_admin_educator_permissions' %>
<%
  def row_style_string(educator)
    if educator.active?
      ''
    else
      'background-color: #f8f8f8; opacity: 0.5; text-decoration: line-through;'
    end
  end
%>

<div style="margin: 20px;">
  <h4 style="color: black; font-size: 24px; border-bottom: 1px solid #333; margin-bottom: 20px; padding-bottom: 10px;">
    Permissions overview
  </h4>
  <div class="educators-authorization-view">
    <h2 style="margin-top: 20px;">Sensitive access</h2>
    <div style="padding-top: 10px">
      <table style="text-align: left; max-width: 1000px;">
        <thead>
          <tr>
            <th style="padding: 5px; text-align: left; background: #eee;">Login</th>
            <th style="padding: 5px; text-align: left; background: #eee;">Name</th>
            <th style="padding: 5px; text-align: left; background: #eee;">Can set<br />permissions</th>
            <th style="padding: 5px; text-align: left; background: #eee;">Restricted<br />notes</th>
            <th style="padding: 5px; text-align: left; background: #eee;">Districtwide</th>
            <th style="padding: 5px; text-align: left; background: #eee;">Admin in SIS</th>
            <th style="padding: 5px; text-align: left; background: #eee;">School</th>
          </tr>
        </thead>
        <tbody>
          <% @sensitive_educators.map do |educator| %>
            <tr style="cursor: default; <%= row_style_string(educator) %>">
              <td style="padding: 10px; padding-left: 5px;"><%= educator.login_name %></td>
              <td style="padding: 10px; padding-left: 5px;"><%= link_to educator.full_name, "/educators/view/#{educator.id}" %></td>
              <td style="padding: 10px; padding-left: 5px;">
                <% if educator.can_set_districtwide_access %>
                  <b style="background: #1b82ea; color: white; padding: 5px;">true</b>
                <% else %>
                  <span style="padding: 5px; color: #999;">false</span>
                <% end %>
              </td>
              <td style="padding: 10px; padding-left: 5px;">
                <% if educator.can_view_restricted_notes %>
                  <b style="background: #1b82ea; color: white; padding: 5px;">true</b>
                <% else %>
                  <span style="padding: 5px; color: #999;">false</span>
                <% end %>
              </td>
              <td style="padding: 10px; padding-left: 5px;">
                <% if educator.districtwide_access %>
                  <b style="background: #1b82ea; color: white; padding: 5px;">true</b>
                <% else %>
                  <span style="padding: 5px; color: #999;">false</span>
                <% end %>
              </td>
              <td style="padding: 10px; padding-left: 5px;">
                <% if educator.admin %>
                  <b style="background: #1b82ea; color: white; padding: 5px;">true</b>
                <% else %>
                  <span style="padding: 5px; color: #999;">false</span>
                <% end %>
              </td>
              <td style="padding: 10px; padding-left: 5px;"><%= educator.school.try(:name) || "N/A" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <h2 style="margin-top: 40px;">Educator permissions</h2>
    <div style="padding-top: 20px">
      <table style="text-align: left; border-collapse: collapse;">
          <thead>
            <tr style="vertical-align: top;">
              <th style="padding: 5px; text-align: left; background: #eee;">Login</th>
              <th style="padding: 5px; text-align: left; background: #eee;">Name</th>
              <th style="padding: 5px; text-align: left; background: #eee;">School</th>
              <th style="padding: 5px; text-align: left; background: #eee;">Links</th>
              <th style="padding: 5px; text-align: left; background: #eee;">Labels</th>
              <th style="padding: 5px; text-align: left; background: #eee;">Masquerade</th>
            </tr>
          </thead>
          <tbody>
            <% @sorted_educators.map do |educator| %>
              <tr style="cursor: default; vertical-align: top; <%= row_style_string(educator) %>">
                <td style="vertical-align: top; padding: 10px; padding-left: 5px;"><%= educator.login_name %></td>
                <td style="vertical-align: top; padding: 10px; padding-left: 5px;"><%= link_to educator.full_name, "/educators/view/#{educator.id}" %></td>
                <td style="vertical-align: top; padding: 10px; padding-left: 5px;"><%= educator.school.try(:name) %></td>
                <td style="vertical-align: top;">
                  <% @navbar_links_map[educator.id].each do |path, key| %>
                    <div><%= link_to path, key %></div>
                  <% end %>
                </td>
                <td style="vertical-align: top;">
                  <% educator.labels.sort.each do |label_key| %>
                    <div><%= label_key %></div>
                  <% end %>
                </td>
                <td style="vertical-align: top;">
                  <% if current_educator(super: true) != educator && current_educator != educator %>
                    <%= link_to 'become', admin_masquerade_become_path(masquerading_educator_id: educator.id), { method: :post, class: 'become-link' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>