<!DOCTYPE html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @data.each do |school_hash| %>
      <h2><%= school_hash[:name] %></h2>

      <h3 style="font-size: 20px;">Absences</h3>
      <table width="100%"
             style="border-collapse: collapse; border: 1px solid grey; font-size: 16px;">
        <tr>
          <th style="border: 1px solid grey; text-align: left;"></th>
          <th style="border: 1px solid grey;">Absences Last Week</th>
          <th style="border: 1px solid grey;">Absences This School Year</th>
        </tr>
        <% school_hash[:absences].each do |absences| %>
          <tr>
            <td style="border: 1px solid grey;">
              <%= link_to absences[2], "https://somerville.studentinsights.org/students/#{(absences[3])}" %>
            </td>
            <td style="border: 1px solid grey; text-align: center;"><%= absences[0] %></td>
            <td style="border: 1px solid grey; text-align: center;"><%= absences[1] %></td>
          </tr>
        <% end %>
      </table>

      <h3 style="font-size: 20px;">Tardies</h3>
      <table width="100%"
             style="border-collapse: collapse; border: 1px solid grey; font-size: 16px;">
        <tr>
          <th style="border: 1px solid grey; text-align: left;"></th>
          <th style="border: 1px solid grey;">Tardies Last Week</th>
          <th style="border: 1px solid grey;">Tardies This School Year</th>
        </tr>
        <% school_hash[:tardies].each do |tardies| %>
          <tr>
            <td style="border: 1px solid grey;">
              <%= link_to tardies[2], "https://somerville.studentinsights.org/students/#{(tardies[3])}" %>
            </td>
            <td style="border: 1px solid grey; text-align: center;"><%= tardies[0] %></td>
            <td style="border: 1px solid grey; text-align: center;"><%= tardies[1] %></td>
          </tr>
        <% end %>
      </table>

    <% end %>
  </body>
</html>
