{% set project =

  {
    clientName: 'Student Insights',
    logoPath: 'corkscrew/assets/images/logo.png',
    repositoryUrl: 'http://github.com/studentinsights/',
    css: ['', ''],
    headJS: ['', ''],
    footJS: ['', ''],
    htmlViewer: true
  }

%}

{% set colors = [

  {
    hex: "#33A4EB",
    label: "Blue"
  },
  {
    hex: "#74C120",
    label: "Green"
  },
  {
    hex: "#fad451",
    label: "Yellow"
  },

  {
    hex: "#ee4054",
    label: "Ruby"
  },
  {  hex: "#515151",
    label: "Dark Gray"
  },
  {
    hex: "#acacac",
    label: "Mid Gray"
  },
  {
    hex: "#dfdfdf",
    label: "Lt Gray"
  },
  {
    hex: "#fff",
    label: "White"
  }

]%}

{% set templates = [

  {
    name: "Home Page",
    url: "http://freshtilledsoil.com"
  },
  {
    name: "Blog",
    url: "http://freshtilledsoil.com/blog"
  }

]%}
<!doctype html>
<html lang="en">
<head>
{% spaceless %}

  <title>{% block sectionName %}Overview{% endblock %} &middot; {{ project.clientName }} | Style Guide</title>

  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="prefetch" href="{{ path_for('navigation', { 'name': 'overview' }) }}">
  <link rel="prefetch" href="{{ path_for('navigation', { 'name': 'base' }) }}">
  <link rel="prefetch" href="{{ path_for('navigation', { 'name': 'components' }) }}">
  <link rel="prefetch" href="{{ path_for('navigation', { 'name': 'modules' }) }}">
  <link rel="prefetch" href="{{ path_for('navigation', { 'name': 'helpers' }) }}">
  <link rel="prefetch" href="{{ path_for('navigation', { 'name': 'templates' }) }}">

  <!-- meta cluster -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cleartype" content="on">

  <link rel="icon" type="image/png" href="corkscrew/assets/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="corkscrew/assets/images/favicon-16x16.png" sizes="16x16">

  <!--[if IE]>
    <link rel="shortcut icon" href="corkscrew/assets/images/browser-icons/favicon.ico">
  <![endif]-->

  <script>

    WebFontConfig = {
      google: { families: [ 'Open+Sans:400,700:latin' ] }
    };

    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();

  </script>

  <noscript>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </noscript>

  <!-- Corkscrew Core CSS -->

  <style>
  {% include 'assets/css/corkscrew.css' %}
  {% include 'assets/css/corkscrew-extend.css' %}
  </style>

  <!-- CSS for {{ project.clientName }} -->
  {% for style in project.css %}
    <link rel="stylesheet" href="{{ style }}">
  {% endfor %}

  <!-- Head JavaScript for {{ project.clientName }} -->
  {% for script in project.headJS %}
    <script src="{{ script }}"></script>
  {% endfor %}

</head>

<body class="cs-body">

  <a href="#cs-main" class="cs-is-hidden">Skip to content</a>

  <header role="banner" id="cs-banner" class="cs-banner">
    <div class="cs-container">
      <div class="cs-gutter cs-clearfix">

        <div class="cs-nav-header">
          <ul class="cs-is-menu-show cs-is-clean">
            <li><a href="#cs-site-nav" id="cs-nav-menu-toggle" aria-controls="cs-site-nav">menu</a></li>
          </ul>

          <div class="cs-branding">
            <a href="{{ path_for('overview') }}">
              <img id="cs-logo-header" class="cs-logo" src="{{ project.logoPath }}" alt="{{ project.clientName }} Logo">
              <span class="cs-is-hidden">Style guide for {{ project.clientName }}</span>
            </a>
          </div><!--/.cs-branding-->
        </div><!--/.cs-nav-header-->

        <ul id="cs-site-nav" class="cs-is-clean cs-fts-nav">
          <li class="{% if section == "overview" %}is-active{% endif %}">
          <a href="{{ path_for('overview') }}">Overview</a></li>
          <li class="{% if section == "base" %}is-active{% endif %}"><a href="{{ path_for('navigation', { 'name': 'base' }) }}">Base</a></li>
          <li class="{% if section == "components" %}is-active{% endif %}"><a href="{{ path_for('navigation', { 'name': 'components' }) }}">Components</a></li>
          <li class="{% if section == "modules" %}is-active{% endif %}"><a href="{{ path_for('navigation', { 'name': 'modules' }) }}">Modules</a></li>
          <li class="{% if section == "helpers" %}is-active{% endif %}"><a href="{{ path_for('navigation', { 'name': 'helpers' }) }}">Helpers</a></li>
          <li class="{% if section == "templates" %}is-active{% endif %}"><a href="{{ path_for('navigation', { 'name': 'templates' }) }}">Templates</a>
            <ul id="cs-templates" class="cs-site-nav-menu">
            {% for template in templates %}
              <li><a href="{{ template.url }}">{{ template.name }}</a></li>
            {% endfor %}
            </ul>
          </li>

        </ul>

      </div><!--/.cs-gutter-->
    </div><!--/.cs-container-->
  </header>


  <main role="main" id="cs-main" class="cs-main">

    <div class="cs-container cs-align-normal">

    {% if project.repositoryUrl %}
      <div class="cs-msg">
        <p><a href="{{ project.repositoryUrl }}">View the repository for this project</a></p>
      </div><!--/.cs-msg-->
    {% endif %}

      <div class="cs-gutter">
{% endspaceless %}

      {% block content %}
      {% endblock %}

{% spaceless %}
      </div><!--/.cs-gutter-->
    </div><!--/.cs-container-->
  </main><!--/.cs-main-->

  <script>
    {% include 'assets/js/corkscrew.js' %}
    {% include 'assets/js/corkscrew-extend.js' %}
  </script>

  <!-- Footer JavaScript for {{ project.clientName }} -->
  {% for script in project.footJS %}
    <script src="{{ script }}"></script>
  {% endfor %}

{% endspaceless %}

</body>
</html>
