{{#main}}
  <div class="left-panel narrower-panel">
    <div id="add-new-intervention" class="add-new-thing-button {{addNewClassName}}">
      <h1>
        <span class="plus-sign">+</span>
        <span class="add-text">Add intervention</span>
      </h1>
    </div>
    <div class="intervention-cell-list"></div>
  </div>
  <div class="right-panel wider-panel">
    <div class="intervention-details-list"></div>
    <div class="new-intervention-container"></div>
  </div>
{{/main}}

{{#interventionCell}}
  <div class="intervention-cell {{activatedClass}}" data-id="{{id}}">
    <strong>{{name}}</strong>
    <p>{{comment}}</p>
    <p class="intervention-date">
      {{start_date}} - {{end_date}}
    </p>
    <p class="intervention-creator">
      {{educator_email}}
    </p>
  </div>
{{/interventionCell}}

{{#interventionDetails}}
  <div class="intervention-detail" data-id="{{id}}">
    <h2>{{name}}</h2>
    <strong>Description</strong>
    <p>{{comment}}</p>
    <strong>Goal</strong>
    <p>{{goal}}</p>
    <strong>Start Date</strong>
    <p>{{start_date}}</p>
    <strong>End Date</strong>
    <p>{{end_date}}</p>
    <div class="progress-notes-list">
    </div>
    <div class="new-progress-note-area">
  </div>
{{/interventionDetails}}

{{#newProgressNote}}
  <div class="new-progress-note">
    {{#isAddingProgressNote}}
      <div class="add-progress-note-area">
        <h2>Add progress note</h2>
        <p class="alert field errors"></p>
        <form accept-charset="UTF-8" action="/progress_notes" class="new-progress-note-form" data-remote="true" id="new_progress_note" method="post">
          <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
          <label>Progress note</label>
          <textarea cols="40" name="progress_note[content]" required="required" rows="5"></textarea>
          <select name="progress_note[educator_id]" required="required">
            <option value=""> -- Select educator -- </option>
            {{#educators}}
              <option value="{{id}}">{{email}}</option>
            {{/educators}}
          </select>
          <br/>
          <input name="progress_note[intervention_id]" type="hidden" value="{{interventionId}}" />
          <input class="btn save-btn" name="commit" type="submit" value="Save" />
          <div class="btn cancel-progress-note" type="button">Cancel</div>
        </form>
      </div>
    {{/isAddingProgressNote}}
    {{^isAddingProgressNote}}
      <button class="btn add-progress-note" type="button">Add progress note</button>
    {{/isAddingProgressNote}}
  </div>
{{/newProgressNote}}

{{#newInterventionForm}}
  <form accept-charset="UTF-8" action="/interventions" class="new-intervention-form" data-remote="true" id="new_intervention" method="post">
    <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
    <h1>Add Intervention</h1>
    <p class="alert field errors"></p>
    <label>Select Intervention</label>
    <select name="intervention[intervention_type_id]" required="required">
      <option value=""> -- Intervention type -- </option>
      {{#interventionTypes}}
        <option value="{{id}}">{{name}}</option>
      {{/interventionTypes}}
    </select>
    <label>Comment</label>
    <textarea cols="40" name="intervention[comment]" placeholder="Add comment" rows="5"></textarea>
    <label>Goal</label>
    <textarea cols="40" name="intervention[goal]" placeholder="Add goal" rows="5"></textarea>
    <label>End date</label>
    <input class="datepicker" name="intervention[end_date]" pattern="(19|20)[0-9]{2}(/|-|.)((0[1-9])|(1[0-2])|([0-9]))(/|-|.)(([0-2][0-9])|(3[0-1])|([0-9]))" placeholder="yyyy-mm-dd" type="text">
    <input name="intervention[educator_id]" type="hidden" value="{{educatorId}}">
    <input name="intervention[student_id]" type="hidden" value="{{studentId}}">
    <br><br>
    <input class="btn save-btn" name="commit" type="submit" value="Save">
    <button class="btn cancel-btn cancel-new-intervention" type="button">Cancel</button>
  </form>
{{/newInterventionForm}}

{{#progressNote}}
  <div class="progress-note">
    <strong>
      {{educator_email}}
    </strong>
    <p>
      {{content}}
      <br/>
      <span class="smalltype">
        {{created_date}}
      </span>
    </p>
  </div>
{{/progressNote}}

{{#formErrors}}
  <ul class="errors-list">
    {{#errors}}<li>{{.}}</li>{{/errors}}
  </ul>
{{/formErrors}}
