<%- unless @progress_note.errors.present? %>
  var data = {
    educator: "<%= @progress_note.educator.email %>",
    content: "<%= escape_javascript @progress_note.content %>",
    created_at: "<%= @progress_note.created_at.strftime('%B %e, %Y') %>"
  }
  var template = $('#progress-note-template').html();
  var note = Mustache.render(template, data);
  $('.intervention-detail[data-id="<%= @progress_note.intervention.id %>"] .progress-note-list').prepend(note);
  $('.add-progress-note-area').hide();
  $('.add-progress-note').show();
  $('.add-progress-note-area form textarea').val('');
  $('#progress_note_educator_id :nth-child(1)').prop('selected', true);
<%- else %>
  <% @progress_note.errors.full_messages.each do |msg| %>
    $('.add-progress-note-area form .errors').prepend("<br/><li><%= msg %></li>");
  <% end %>
<%- end %>
