<div id="content">
  <%= form_for @bulk_intervention_assignment, remote: true do |b| %>
    <h1 class="underline">
      Add Intervention (<span id="students-count"></span>)
    </h1>
    <p class="notice"></p>
    <p class="alert"></p>
    <br/>
    <%= b.label :intervention_type_id, "Select Intervention" %>
    <%= b.select(:intervention_type_id,
          options_from_collection_for_select(InterventionType.all, :id, :name),
          { include_blank: " -- Intervention type -- " },
          { required: true } ) %>
    <%= b.label :comment %>
    <%= b.text_area :comment, placeholder: "Add comment", cols: "40", rows: "5" %>
    <%= b.label :end_date %>
    <%= b.text_field :end_date, class: "datepicker", placeholder: "yyyy-mm-dd" %>
    <%= b.hidden_field :educator_id, value: current_educator.id %>
    <span id="student-ids"></span><br/><br/>
    <%= b.submit "Add Interventions", class: "btn save-btn" %>
    <button id="close-intervention-form" class="btn cancel-btn" type="button">
      Cancel
    </button>
  <% end %>
</div>
