<div id="content">
  <h1 class="underline">
    Add Intervention (<span id="students-count"></span>)
  </h1>
  <p class="notice"></p>
  <p class="alert"></p>
  <br/>
  <%= form_for @bulk_intervention_assignment, remote: true do |b| %>
    <%= b.label :intervention_type_id, "Select Intervention" %>
    <%= b.select(:intervention_type_id,
          options_from_collection_for_select(InterventionType.all, :id, :name),
          { include_blank: " -- Intervention type -- " },
          { required: true } ) %>
    <%= b.label :comment %>
    <%= b.text_area :comment, placeholder: "Add comment", cols: "40", rows: "5" %>
    <%= b.label :end_date, "End date (yyyy-mm-dd)" %>
    <%= b.text_field :end_date, class: "datepicker", placeholder: "yyyy-mm-dd",
      pattern: "(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
      # Regex from: http://html5pattern.com/Dates
      # Checks that:
      # 1) the year is numeric and starts with 19 or 20,
      # 2) the month is numeric and between 01-12, and
      # 3) the day is numeric between 01-29, or
      #    b) 30 if the month value is anything other than 02, or
      #    c) 31 if the month value is one of 01,03,05,07,08,10, or 12.
    %>
    <%= b.hidden_field :educator_id, value: current_educator.id %>
    <span id="student-ids"></span><br/><br/>
    <%= b.submit "Add Interventions", class: "btn save-btn" %>
    <button id="close-intervention-form" class="btn cancel-btn" type="button">
      Cancel
    </button>
  <% end %>
</div>
