                      <td class="mcas">
                        <% if mcas_presenter.math_performance_warning? %>
                          <div class="warning-bubble">
                            <%= mcas_presenter.math_performance %>
                          </div>
                        <% else %>
                          <%= mcas_presenter.math_performance %>
                        <% end %>
                      </td>
                      <td class="mcas">
                        <%= mcas_presenter.math_growth %>
                      </td>
                      <td class="mcas">
                        <% if mcas_presenter.ela_performance_warning? %>
                          <div class="warning-bubble">
                            <%= mcas_presenter.ela_performance %>
                          </div>
                        <% else %>
                          <%= mcas_presenter.ela_performance %>
                        <% end %>
                      </td>
                      <td class="mcas">
                        <%= mcas_presenter.ela_growth %>
                      </td>
