  <div class="school-year">

    <div class="year">
      <h1><%= school_year.name %></h1>
    </div>

    <% unless school_year.mcas_math_result.is_a?(MissingStudentAssessment) && school_year.mcas_ela_result.is_a?(MissingStudentAssessment)  # Since there is only one MCAS result per student per year %>
      <div class="section mcas-result-section">
        <h2 class="section-header">MCAS</h2>
        <% unless school_year.mcas_ela_result.is_a?(MissingStudentAssessment) %>
          <h3 class="assessment-type">English</h3>
          <div class="assessment-dark-background mcas-ela-values">
            <div class="values">
              <p>Performance: <strong><%= StudentAssessmentPresenter.new(school_year.mcas_ela_result).performance_level %></strong></p>
            </div>
            <div class="values">
              <p>Scaled Score: <strong><%= StudentAssessmentPresenter.new(school_year.mcas_ela_result).scale_score %></strong></p>
            </div>
          </div>
        <% end %>
        <% unless school_year.mcas_math_result.is_a?(MissingStudentAssessment) %>
          <h3 class="assessment-type">Math</h3>
          <div class="assessment-dark-background mcas-math-values">
            <div class="values">
              <p>Performance: <strong><%= StudentAssessmentPresenter.new(school_year.mcas_math_result).performance_level %></strong></p>
            </div>
            <div class="values">
              <p>Scaled Score: <strong><%= StudentAssessmentPresenter.new(school_year.mcas_math_result).scale_score %></strong></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if school_year.star.any? %>
      <div class="section star-result-section">
        <h2 class="section-header">STAR</h2>
        <% school_year.star.each do |date, results| %>
          <h3 class="assessment-type"><%= date.strftime("%B %e, %Y") %></h3>
          <div class="assessment-dark-background">
            <% results.each do |r| %>
              <div class="star-values">
                <% if r.assessment.subject == "Math" %>
                  <div class="values star-math-values">
                    <p>Math percentile: <strong><%= StudentAssessmentPresenter.new(r).percentile_rank %></strong></p>
                  </div>
                <% elsif r.assessment.subject == "Reading" %>
                  <div class="values star-reading-values">
                    <p>Reading percentile: <strong><%= StudentAssessmentPresenter.new(r).percentile_rank %></strong></p>
                  </div>
                  <div class="values star-reading-values instructional-reading-level">
                    <p>Reading level: <strong><%= StudentAssessmentPresenter.new(r).instructional_reading_level %></strong></p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- DIBELS -->
    <% unless school_year.dibels.is_a?(MissingStudentAssessmentCollection) %>
      <div class="section dibels-result-section">
        <h2 class="section-header">DIBELS</h2>
        <% school_year.dibels.each do |e| %>
          <% if e.performance_level.present? %>
            <div class="assessment-dark-background dibels-values">
              <div class="values dibels-list">
                <p <% if e.performance_level.upcase == "CORE" || e.performance_level.upcase == "BENCHMARK" %>class="dibels-selected"<% end %>>
                  Core
                </p>
                <p <% if e.performance_level.upcase == "STRATEGIC" %>class="dibels-selected"<% end %>>
                  Strategic
                </p>
                <p <% if e.performance_level.upcase == "INTENSIVE" %>class="dibels-selected"<% end %>>
                  Intensive
                </p>
              </div>
            </div>
          <% else %>
            <p class="assessment-type">No data available</p>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <!-- ACCESS -->
    <% unless school_year.access.is_a?(MissingStudentAssessment) %>
      <div class="section access-result-section">
        <h2 class="section-header">ACCESS</h2>
        <h3 class="assessment-type">Overall</h3>
        <div class="assessment-dark-background access-values">
          <div class="values">
            <p>Score: <strong><%= StudentAssessmentPresenter.new(school_year.access).scale_score %></strong></p>
          </div>
          <div class="values">
            <p>Growth: <strong><%= StudentAssessmentPresenter.new(school_year.access).growth_percentile %></strong></p>
          </div>
          <div class="values">
            <p>Level: <strong><%= StudentAssessmentPresenter.new(school_year.access).performance_level %></strong></p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="section attendance-section">
      <h2 class="section-header">Attendance</h2>
      <% if school_year.absences > 0 || school_year.tardies > 0 %>
        <div class="values">
          <p>Absences: <strong><%= school_year.absences %></strong></p>
        </div>
        <div class="values">
          <p>Tardies <strong><%= school_year.tardies %></strong></p>
        </div>
      <% else %>
        <p class="attendance-type">No absences or tardies</p>
      <% end %>
    </div>

    <div class="section behavior-section">
      <h2 class="section-header">Behavior</h2>
      <% if school_year.discipline_incidents.present? %>
          <% school_year.discipline_incidents.each do |d| %>
            <div class="referral">
              <p><strong>Code:</strong>  <%= d.incident_code %></p>
              <p><strong>Description:</strong>  <%= d.incident_description %></p>
              <p><strong>Location:</strong>  <%= d.incident_location %></p>
              <p><strong>Date:</strong>  <%= d.event_date.strftime("%B %e, %Y") %></p>
            </div>
          <% end %>
      <% else %>
        <p>No behavior incidents</p>
      <% end %>
    </div>
  </div>
