    <div class="school-year">

      <div class="year">
        <h1><%= school_year.name %></h1>
      </div>

      <div class="section">
        <% if events[:attendance_events][:absences] > 0 || events[:attendance_events][:tardies] > 0 %>
          <h2 class="attendance-type">Attendance</h2>
          <div class="values">
            <h3><%= events[:attendance_events][:absences] %></h3>
            <h4>Absences</h4>
          </div>
          <div class="values">
            <h3><%= events[:attendance_events][:tardies] %></h3>
            <h4>Tardies</h4>
          </div>
        <% else %>
          <h2 class="attendance-type">No absences or tardies</h2>
        <% end %>
      </div>

    <% if events[:mcas_result].present? %>
       <div class="section">
        <h2>MCAS</h2>
          <% if events[:mcas_result].ela_performance.present? && events[:mcas_result].ela_scaled.present? %>
            <div class="values">
              <h3 class="assesment-type">English</h3>
              <div class="values">
                <h3><%= events[:mcas_result].ela_performance %></h3>
                <h4>Performance</h4>
              </div>
              <div class="values">
                <h3><%= events[:mcas_result].ela_scaled %></h3>
                <h4>Scaled Score</h4>
              </div>
            </div>
          <% end %>
          <% if events[:mcas_result].math_performance.present? && events[:mcas_result].math_scaled.present? %>
            <div class="values">
              <h3 class="assesment-type">Math</h3>
              <div class="values">
                <h3><%= events[:mcas_result].math_performance %></h3>
                <h4>Performance</h4>
              </div>
              <div class="values">
                <h3><%= events[:mcas_result].math_scaled %></h3>
                <h4>Scaled Score</h4>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>

    <% if events[:star_results].present? %>
      <div class="section">
        <h2>STAR</h2>
        <% events[:star_results].each do |s| %>
          <h5><%= s.date_taken.strftime("%B %e, %Y")  %></h5>
          <div class="month">
            <div class="values">
              <h3 class="assesment-type">Reading</h3>
              <div class="values">
                <h3><%= s.reading_percentile_rank %></h3>
                <h4>Percentile</h4>
              </div>
              <div class="values">
                <h3><%= s.instructional_reading_level %></h3>
                <h4>IRL</h4>
              </div>
            </div>
            <div class="values">
              <h3 class="assesment-type">Math</h3>
              <div class="values">
                <h3><%= s.math_percentile_rank %></h3>
                <h4>Percentile</h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="section">
      <% if events[:discipline_incidents].present? %>
        <h2>Office referrals</h2>
          <% events[:discipline_incidents].each do |d| %>
            <div class="referral">
              <p><strong>Code:</strong>  <%= d.incident_code %></p>
              <p><strong>Description:</strong>  <%= d.incident_description %></p>
              <p><strong>Location:</strong>  <%= d.incident_location %></p>
              <p><strong>Date:</strong>  <%= d.event_date.strftime("%B %e, %Y") %></p>
            </div>
          <% end %>
      <% else %>
        <h2>No office referrals</h2>
      <% end %>
    </div>
