                      <td class="star">
                        <% if star_presenter.math_percentile_warning? %>
                          <%= render "warning_indicator", value: star_presenter.math_percentile_rank %>
                        <% else %>
                          <%= star_presenter.math_percentile_rank %>
                        <% end %>
                      </td>
                      <td class="star">
                        <% if star_presenter.reading_percentile_warning? %>
                          <%= render "warning_indicator", value: star_presenter.reading_percentile_rank %>
                        <% else %>
                          <%= star_presenter.reading_percentile_rank %>
                        <% end %>
                      </td>
                      <td class="star">
                        <%= star_presenter.instructional_reading_level %>
                      </td>
