                <tr>
                  <td><%= presenter.full_name %></td>
                  <td><%= presenter.student.race %></td>
                  <td><%= presenter.sped %></td>
                  <td><%= presenter.limited_english_proficient %></td>
                  <% unless controller_name == 'pages' && action_name == 'roster_demo' %>
                    <% result = presenter.student.student_results.last %>
                  <% else %>
                    <% result = StudentResult.new(StudentResult.fake_data) %>
                  <% end %>
                  <% present(result) do |result_presenter| %>
                    <td>
                      <% if result_presenter.math_performance_warning? %>
                        <%= render "students/warning_indicator" %>
                      <% end %>
                      <%= result_presenter.math_performance %>
                    </td>
                    <td>
                      <% if result_presenter.math_growth_warning? %>
                        <%= render "students/warning_indicator" %>
                      <% end %>
                      <%= result_presenter.math_growth %>
                    </td>
                    <td>
                      <% if result_presenter.ela_performance_warning? %>
                        <%= render "students/warning_indicator" %>
                      <% end %>
                      <%= result_presenter.ela_performance %>
                    </td>
                    <td>
                      <% if result_presenter.ela_growth_warning? %>
                        <%= render "students/warning_indicator" %>
                      <% end %>
                      <%= result_presenter.ela_growth %>
                    </td>
                  <% end %>
                </tr>
