                <tr>
                  <td><%= link_to presenter.full_name, student_url(presenter.id) %></td>
                  <td><%= presenter.student.race %></td>
                  <td><%= presenter.sped %></td>
                  <td><%= presenter.limited_english_proficient %></td>
                  <% star_result = presenter.latest_star %>
                  <% if star_result.present? %>
                    <% present(star_result) do |result_presenter| %>
                      <%= render "students/star_row_fragment", star_presenter: result_presenter %>
                    <% end %>
                  <% else %>
                    <%= render "students/blank_star_row" %>
                  <% end %>
                  <% mcas_result = presenter.latest_mcas %>
                  <% if mcas_result.present? %>
                    <% present(mcas_result) do |result_presenter| %>
                      <%= render "students/mcas_row_fragment", mcas_presenter: result_presenter %>
                    <% end %>
                  <% else %>
                    <%= render "students/blank_star_row" %>
                  <% end %>
                </tr>
