                <tr class="student-row">
                  <td class="name"><%= link_to presenter.full_name, student_url(presenter.id) %></td>
                  <td class="risk">
                    <div class="warning-bubble <%= risk.css_class_name %>">
                      <%= risk.level_abbreviation %>
                    </div>
                  </td>
                  <td class="demographics"><%= presenter.home_language %></td>
                  <% star_result = presenter.latest_star %>
                  <% if star_result.is_a? MissingAssessment %>
                    <td class="star">—</td>
                    <td class="star">—</td>
                    <td class="star">—</td>
                  <% else %>
                    <% present(star_result) do |result_presenter| %>
                      <%= render "students/star_row_fragment", star_presenter: result_presenter %>
                    <% end %>
                  <% end %>
                  <% mcas_result = presenter.latest_mcas %>
                  <% if mcas_result.is_a? MissingAssessment %>
                    <td class="mcas">—</td>
                    <td class="mcas">—</td>
                    <td class="mcas">—</td>
                    <td class="mcas">—</td>
                  <% else %>
                    <% present(mcas_result) do |result_presenter| %>
                      <%= render "students/mcas_row_fragment", mcas_presenter: result_presenter %>
                    <% end %>
                  <% end %>
                </tr>
