                <tr class="student-row">
                  <td class="name">
                    <div class="cell-wrapper">
                      <%= link_to presenter.full_name, student_url(presenter.id) %>
                    </div>
                  </td>
                  <td class="risk">
                    <div class="warning-bubble <%= risk.css_class_name %>">
                      <%= risk.level_abbreviation %>
                    </div>
                  </td>
                  <td class="program">
                    <%= presenter.program_assigned %>
                  </td>
                  <td class="sped">
                    <%= presenter.sped_placement %>
                  </td>
                  <td class="sped">
                    <%= presenter.disability %>
                  </td>
                  <td class="sped">
                    <%= presenter.sped_level_of_need %>
                  </td>
                  <td class="sped">
                    <%= presenter.plan_504 %>
                  </td>
                  <td class="language">
                    <%= presenter.limited_english_proficiency %>
                  </td>
                  <td class="language">
                    <%= presenter.home_language %>
                  </td>
                  <td class="free-reduced">
                    <%= presenter.free_reduced_lunch %>
                  </td>

                  <%= render "students/star_math_row_fragment", assessment: row_data.latest_star_math, risk: StarRiskLevel.new(row_data.latest_star_math) %>

                  <%= render "students/star_reading_row_fragment", assessment: row_data.latest_star_reading, risk: StarRiskLevel.new(row_data.latest_star_reading) %>

                  <%= render "students/mcas_row_fragment", assessment: row_data.latest_mcas_math, risk: McasRiskLevel.new(row_data.latest_mcas_math) %>

                  <%= render "students/mcas_row_fragment", assessment: row_data.latest_mcas_ela, risk: McasRiskLevel.new(row_data.latest_mcas_ela) %>

                  <% if presenter.current_events.present? %>
                    <td class="attendance">
                      <div class="cell-wrapper">
                        <%= presenter.absences_current_year %>
                      </div>
                    </td>
                    <td class="attendance">
                      <div class="cell-wrapper">
                        <%= presenter.tardies_current_year %>
                      </div>
                    </td>
                    <td class="discipline">
                      <div class="cell-wrapper">
                        <%= presenter.discipline_current_year %>
                      </div>
                    </td>
                  <% else %>
                    <td class="attendance"><div class="cell-wrapper">—</div></td>
                    <td class="attendance"><div class="cell-wrapper">—</div></td>
                    <td class="discpline"><div class="cell-wrapper">—</div></td>
                  <% end %>
                </tr>
