                <tr>
                  <td><%= presenter.full_name %></td>
                  <td><%= presenter.student.race %></td>
                  <td><%= presenter.sped %></td>
                  <td><%= presenter.limited_english_proficient %></td>
                  <% if @star.present? %>
                    <% unless controller_name == 'pages' && action_name == 'roster_demo' %>
                      <% star_result = presenter.student.star_results.last %>
                    <% else %>
                      <% star_result = StarResult.new(StarResult.fake_data) %>
                    <% end %>
                    <% if star_result.present? %>
                      <% present(star_result) do |result_presenter| %>
                        <%= render "students/star_row_fragment", star_presenter: result_presenter %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if @mcas.present? %>
                    <% unless controller_name == 'pages' && action_name == 'roster_demo' %>
                      <% mcas_result = presenter.student.mcas_results.last %>
                    <% else %>
                      <% mcas_result = McasResult.new(McasResult.fake_data) %>
                    <% end %>
                    <% if mcas_result.present? %>
                      <% present(mcas_result) do |result_presenter| %>
                        <%= render "students/mcas_row_fragment", mcas_presenter: result_presenter %>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
