                <tr>
                  <td><%= presenter.full_name %></td>
                  <td><%= presenter.student.race %></td>
                  <td><%= presenter.sped %></td>
                  <td><%= presenter.limited_english_proficient %></td>
                  <% if @star.present? %>
                    <% unless controller_name == 'pages' && action_name == 'roster_demo' %>
                      <% star_result = presenter.student.star_results.last %>
                    <% else %>
                      <% star_result = StarResult.new(StarResult.fake_data) %>
                    <% end %>
                    <% present(star_result) do |result_presenter| %>
                      <td>
                        <% if result_presenter.math_warning? %>
                          <%= render "students/warning_indicator" %>
                        <% end %>
                        <%= result_presenter.math_percentile_rank %>
                      </td>
                      <td>
                        <% if result_presenter.reading_warning? %>
                          <%= render "students/warning_indicator" %>
                        <% end %>
                        <%= result_presenter.reading_percentile_rank %>
                      </td>
                      <td>
                        <%= result_presenter.instructional_reading_level %>
                      </td>
                    <% end %>
                  <% end %>
                  <% if @mcas.present? %>
                    <% unless controller_name == 'pages' && action_name == 'roster_demo' %>
                      <% mcas_result = presenter.student.mcas_results.last %>
                    <% else %>
                      <% mcas_result = McasResult.new(McasResult.fake_data) %>
                    <% end %>
                    <% present(mcas_result) do |result_presenter| %>
                      <td>
                        <% if result_presenter.math_performance_warning? %>
                          <%= render "students/warning_indicator" %>
                        <% end %>
                        <%= result_presenter.math_performance %>
                      </td>
                      <td>
                        <% if result_presenter.math_growth_warning? %>
                          <%= render "students/warning_indicator" %>
                        <% end %>
                        <%= result_presenter.math_growth %>
                      </td>
                      <td>
                        <% if result_presenter.ela_performance_warning? %>
                          <%= render "students/warning_indicator" %>
                        <% end %>
                        <%= result_presenter.ela_performance %>
                      </td>
                      <td>
                        <% if result_presenter.ela_growth_warning? %>
                          <%= render "students/warning_indicator" %>
                        <% end %>
                        <%= result_presenter.ela_growth %>
                      </td>
                    <% end %>
                  <% end %>
                </tr>
