  <div id="controls">
    <div id="roster-back">
      <%= link_to "< Back to Roster", @roster_url %>
    </div>
    <div id="export">
      <%= link_to "Export &#9662;".html_safe, @csv_url, method: "get", id: 'export-button' %>
    </div>
  </div>

  <div class="info-area">

    <div id="student-info">
      <h1 id="student-name"><%= @presenter.full_name %></h1>
      <div id="profile-risk-level" class="tooltip-trigger">
        <p>Risk level:</p>
        <div id="risk-pill" class="<%= @risk.css_class_name %>">
            <h3><%= @risk.level_as_string %></h3>
        </div>
      </div>
    </div>

    <div id="graph-dropdown" class="dropdown">
      <p>Graph:</p>
      <select id="chart-type">
        <option value="attendance"<% if @chart_start == "attendance" %> selected<% end %>>
          Attendance
        </option>
        <option value="behavior"<% if @chart_start == "behavior" %> selected<% end %>>
          Behavior
        </option>
        <option value="mcas-growth"<% if @chart_start == "mcas-growth" %> selected<% end %>>
          MCAS Growth
        </option>
        <option value="mcas-scaled"<% if @chart_start == "mcas-scaled" %> selected<% end %>>
          MCAS Score
        </option>
        <option value="star"<% if @chart_start == "star" %> selected<% end %>>
          STAR
        </option>
      </select>
    </div>

    <div id="chart"></div>

    <div id="demographics-row" class="row">
      <h1>Demographics</h1>

      <div class="demographics-block">
        <h2>Information</h2>
        <span class="demographics-item">
          Program Assignment: <strong><%= @presenter.program_assigned %></strong>
        </span>
        <span class="demographics-item">
        <span class="demographics-item">
          504: <strong><%= @presenter.plan_504 %></strong>
        </span>
      </div>

      <div class="demographics-block">
        <h2>Language</h2>
        <span class="demographics-item">
          Fluency: <strong><%= @presenter.limited_english_proficiency %></strong>
        </span>
        <span class="demographics-item">
          Home Language: <strong><%= @presenter.home_language %></strong>
        </span>
      </div>

      <div class="demographics-block">
        <h2>Special Education</h2>
        <span class="demographics-item">
          Placement: <strong><%= @presenter.sped_placement %></strong>
        </span>
        <span class="demographics-item">
          Disabiity: <strong><%= @presenter.disability %></strong>
        </span>
        <span class="demographics-item">
          Level: <strong><%= @presenter.sped_level_of_need %></strong>
        </span>
      </div>
    </div>

<!-- START DIBELS AND ACCESS -->
<div id="school-year-boxes-row" class="row">
<div class="school-year">

    <div class="year">
      <h1>1901</h1>
    </div>

<!-- START DIBELS -->
      <div class="section dibels-result-section">
        <h2 class="section-header">DIBELS</h2>
        <h3 class="assesment-type">Spring</h3>
        <div class="assessment-dark-background dibels-values">
            <div class="values dibels-list">
              <p>Core</p><p class="dibels-selected">Strategic</p><p>Intensive</p>
            </div>
        </div>

        <h3 class="assesment-type">Winter</h3>
        <div class="assessment-dark-background dibels-values">
            <div class="values dibels-list">
              <p class="dibels-selected">Core</p><p>Strategic</p><p>Intensive</p>
            </div>
        </div>

        <h3 class="assesment-type">Fall</h3>
        <div class="assessment-dark-background dibels-values">
            <div class="values dibels-list">
              <p>Core</p><p>Strategic</p><p class="dibels-selected">Intensive</p>
            </div>
        </div>
      </div>

<!-- START ACCESS -->
      <div class="section access-result-section">
        <h2 class="section-header">ACCESS</h2>
        <h3 class="assesment-type">Overall</h3>

        <div class="assessment-dark-background access-values">
            <div class="values">
              <p>Score: <strong>469</strong></p>
            </div>
            <div class="values">
              <p>Growth: <strong>35</strong></p>
            </div>
            <div class="values">
              <p>Level: <strong>3</strong></p>
            </div>
        </div>
      </div>

</div>
</div>
<!-- END DIBELS AND ACCESS -->

    <div id="school-year-boxes-row" class="row">
      <% if @student.school_years.present? %>
        <% @student.school_years.each do |s| %>
          <%= render "school_year_box", school_year: s, events: s.events(@student) %>
        <% end %>
      <% end %>
    </div>

  </div>

  <script id="risk-level-tooltip-template" type="x-tmpl-mustache">
    <div class="tooltip-popup">
      <div class="warning-key">
        <div class="warning-header">
          Risk level: <%= @risk.level_as_string %>
        </div>
        <div class="warning-set">
          <%= @risk.explanation.html_safe %>
        </div>
      </div>
    </div>
  </script>

  <script id="zero-case-template" type="x-tmpl-mustache">
    <div class="zero-case">
      {{#happy_message}}
        <img src="<%= asset_path('bonsai.svg') %>"/>
      {{/happy_message}}
      {{^happy_message}}
        <img src="<%= asset_path('bigmoon.svg') %>"/>
      {{/happy_message}}
      <br/>
      <br/>
      {{#happy_message}}
        <h2>Looks Great!</h2>
      {{/happy_message}}
      {{^happy_message}}
        <h2>Hmm...</h2>
      {{/happy_message}}
      <div>
        {{name}} has no {{data_type}} on record
      </div>
    </div>
  </script>

<%= tag("div", id: "chart-data", data: @chart_data) %>
<%= tag("div", id: "chart-start", data: { start: @chart_start }) %>
