  <div id="controls">
    <div id="roster-back">
      <%= link_to "< Back to Roster", @roster_url %>
    </div>
    <div id="export">
      <%= link_to "Export &#9662;".html_safe, @csv_url, method: "get", id: 'export-button' %>
    </div>
  </div>

  <div class="info-area">

    <div id="student-info">
      <h1 id="student-name"><%= @presenter.full_name %></h1>
      <div id="profile-risk-level" class="tooltip-trigger">
        <p>Risk level:</p>
        <div id="risk-pill" class="<%= @risk.css_class_name %>">
            <h3><%= @risk.level_as_string %></h3>
        </div>
      </div>
    </div>

    <div id="graph-dropdown" class="dropdown">
      <p>Graph:</p>
      <select id="chart-type">
        <option value="attendance"<% if @chart_start == "attendance" %> selected<% end %>>
          Attendance
        </option>
        <option value="behavior"<% if @chart_start == "behavior" %> selected<% end %>>
          Behavior
        </option>
        <option value="mcas-growth"<% if @chart_start == "mcas-growth" %> selected<% end %>>
          MCAS Growth
        </option>
        <option value="mcas-scaled"<% if @chart_start == "mcas-scaled" %> selected<% end %>>
          MCAS Score
        </option>
        <option value="star"<% if @chart_start == "star" %> selected<% end %>>
          STAR
        </option>
      </select>
    </div>

    <div id="chart"></div>

    <div class="left-bar-box">

      <div id="demographics-row">
        <h1>Demographics</h1>

        <div class="left-bar-block">
          <h2>Information</h2>
          <span class="left-bar-item">
            Program Assignment: <strong><%= @presenter.program_assigned %></strong>
          </span>
          <span class="left-bar-item">
          <span class="left-bar-item">
            504: <strong><%= @presenter.plan_504 %></strong>
          </span>
        </div>

        <div class="left-bar-block">
          <h2>Language</h2>
          <span class="left-bar-item">
            Fluency: <strong><%= @presenter.limited_english_proficiency %></strong>
          </span>
          <span class="left-bar-item">
            Home Language: <strong><%= @presenter.home_language %></strong>
          </span>
        </div>

        <div class="left-bar-block">
          <h2>Special Education</h2>
          <span class="left-bar-item">
            Placement: <strong><%= @presenter.sped_placement %></strong>
          </span>
          <span class="left-bar-item">
            Disabiity: <strong><%= @presenter.disability %></strong>
          </span>
          <span class="left-bar-item">
            Level: <strong><%= @presenter.sped_level_of_need %></strong>
          </span>
        </div>

      </div>

      <div id="interventions-row">
        <h1>Interventions</h1>

        <% if @interventions.present? %>
          <% @interventions.each do |i| %>
            <div class="left-bar-block">
              <p><strong><%= i.name %>:</strong> <span class="intervention-creator"><%= i.educator.email %></span></p>
              <p><%= i.comment %></p>
              <p class="intervention-date">
                <%= i.start_date.strftime("%B %e, %Y") %> -
                <% if i.end_date.present? %>
                  <%= i.end_date.strftime("%B %e, %Y") %>
                <% else %>
                  <span class="end-date-text">Add end date</span>
                <% end %>
              </p>
            </div>
          <% end %>
        <% else %>
          <br/>
          <h2>No interventions</h2>
        <% end %>
        <br/>
        <button id="open-intervention-form" class="btn" type="button">Add intervention</button>
      </div>

      <%= form_for @intervention do |i| %>
        <div id="add-interventions-row">
          <h1>Add Intervention</h1>
          <div class="left-bar-block">
            <h2>Select Intervention</h2>
            <%= i.select(:intervention_type_id,
                  options_from_collection_for_select(InterventionType.all, :id, :name),
                  { include_blank: " -- Intervention type -- " },
                  { required: true }
                ) %>
          </div>
          <div class="left-bar-block">
            <h2>Comment</h2>
            <%= i.text_area :comment, placeholder: "Add comment", cols: "40", rows: "5" %>
          </div>
          <div class="left-bar-block">
            <h2>End date</h2>
            <%= i.text_field :end_date, class: "datepicker" %>
          </div>
          <%= i.hidden_field :educator_id, value: current_educator.id %>
          <%= i.hidden_field :student_id, value: @student.id %>
          <button id="close-intervention-form" class="btn cancel-btn" type="button">Cancel</button>
          <%= i.submit "Save", class: "btn save-btn" %>
        </div>
      <% end %>
    </div>

    <div id="school-year-boxes-row" class="row">
      <% if @student.school_years.present? %>
        <% @student.school_years.each do |s| %>
          <%= render "school_year_box", school_year: s, events: s.events(@student) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <script id="risk-level-tooltip-template" type="x-tmpl-mustache">
    <div class="tooltip-popup">
      <div class="warning-key">
        <div class="warning-header">
          Risk level: <%= @risk.level_as_string %>
        </div>
        <div class="warning-set">
          <%= @risk.explanation.html_safe %>
        </div>
      </div>
    </div>
  </script>

  <script id="zero-case-template" type="x-tmpl-mustache">
    <div class="zero-case">
      {{#happy_message}}
        <img src="<%= asset_path('bonsai.svg') %>"/>
      {{/happy_message}}
      {{^happy_message}}
        <img src="<%= asset_path('bigmoon.svg') %>"/>
      {{/happy_message}}
      <br/>
      <br/>
      {{#happy_message}}
        <h2>Looks Great!</h2>
      {{/happy_message}}
      {{^happy_message}}
        <h2>Hmm...</h2>
      {{/happy_message}}
      <div>
        {{name}} has no {{data_type}} on record
      </div>
    </div>
  </script>

<%= tag("div", id: "chart-data", data: @chart_data) %>
<%= tag("div", id: "chart-start", data: { start: @chart_start }) %>
<%= tag("div", id: "calendar-icon-path", data: { path: asset_path('calendar-icon.svg') }) %>
