<title>Student Insights: <%= PerDistrict.new.district_name %></title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
<link rel="apple-touch-icon" href="/icon.png" />
<link rel="shortcut icon" href="/favicon.ico" />
<%= content_tag('div', '', id: 'env-for-js', 'data-env-for-js-json': EnvForJs.new.to_json) %>
<%= javascript_include_tag Webpack.bundle('rollbar.js') %>
<%= csrf_meta_tags %>
<% if educator_signed_in? %>
  <meta name="robots" content="noindex" />
<% end %>