<title>Student Insights</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
<link rel="apple-touch-icon" href="/icon.png"/>
<%= render('shared/rollbar') %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<%= csrf_meta_tags %>
<%= render('shared/mixpanel') if Rails.env.production? %>