<h1><%=@section.section_number%></h1>
<p>Course Number: <%=@section.course.course_number%></p>
<p>School Name: <%=@section.school.local_id%></p>
<p>Term: <%=@section.term_local_id%></p>
<p>Schedule: <%=@section.schedule%></p>
<p>Room Number: <%=@section.room_number%></p>
<h2>Students:</h2>
<ul><% @section.students.order(:last_name, :first_name).each do |student| %>
  <li><%= link_to "#{student.last_name}, #{student.first_name}", student %></li>
<% end %>
</ul>

