                      <td class="access <%= initial_show_or_hide('access') %>" href="<%= student_url(student_id, chart_start: "access-scaled") %>">
                          <%= presenter.scale_score %>
                      </td>
                      <td class="access <%= initial_show_or_hide('access') %>" href="<%= student_url(student_id, chart_start: "access-scaled") %>">
                          <%= presenter.performance_level %>
                      </td>
                      <td class="access <%= initial_show_or_hide('access') %>" href="<%= student_url(student_id, chart_start: "access-growth") %>">
                          <%= presenter.growth_percentile %>
                      </td>
