                      <td class="access" href="<%= student_url(student, chart_start: "access-scaled") %>">
                        <div class="cell-wrapper">
                          <%= presenter.scale_score %>
                        </div>
                      </td>
                      <td class="access" href="<%= student_url(student, chart_start: "access-scaled") %>">
                        <div class="cell-wrapper">
                          <%= presenter.performance_level %>
                        </div>
                      </td>
                      <td class="access" href="<%= student_url(student, chart_start: "access-growth") %>">
                        <div class="cell-wrapper">
                          <%= presenter.growth_percentile %>
                        </div>
                      </td>
