                   <% column_name = "mcas_" + subject %>
                   <% if @homeroom.show_mcas? %>
                      <td class="<%= column_name %> <%= initial_show_or_hide(column_name) %> performance_level" href="<%= student_url(student_id, chart_start: "mcas-scaled") %>">
                        <div class="cell-wrapper">
                          <%= presenter.performance_level %>
                        </div>
                      </td>
                      <td class="<%= column_name %> <%= initial_show_or_hide(column_name) %> growth_percentile" href="<%= student_url(student_id, chart_start: "mcas-growth") %>">
                        <div class="cell-wrapper">
                          <%= presenter.growth_percentile %>
                        </div>
                      </td>
                    <% end %>
