                    <% if assessment.is_a? MissingStudentAssessment %>
                      <td class="star" href="<%= student_url(student, chart_start: "star") %>">
                        <div class="cell-wrapper">—</div>
                      </td>
                      <td class="star" href="<%= student_url(student, chart_start: "star") %>">
                        <div class="cell-wrapper">—</div>
                      </td>
                    <% else %>
                      <% present(assessment) do |presenter| %>
                        <td class="star" href="<%= student_url(student, chart_start: "star") %>">
                          <div class="cell-wrapper">
                            <% if risk.percentile_warning? %>
                              <div class="warning-text"><%= presenter.percentile_rank %></div>
                            <% else %>
                              <%= presenter.percentile_rank %>
                            <% end %>
                          </div>
                        </td>
                        <td class="star" href="<%= student_url(student, chart_start: "star") %>">
                          <div class="cell-wrapper">
                            <% if risk.level_warning? %>
                              <div class="warning-text"><%= presenter.instructional_reading_level %></div>
                            <% else %>
                              <%= presenter.instructional_reading_level %>
                            <% end %>
                          </div>
                        </td>
                      <% end %>
                    <% end %>
