                    <% if @homeroom.show_star? %>
                      <td class="star_reading <%= initial_show_or_hide('star_reading') %>" href="<%= student_url(student_id, chart_start: "star") %>">
                          <%= presenter.percentile_rank %>
                      </td>
                      <td class="star_reading <%= initial_show_or_hide('star_reading') %>" href="<%= student_url(student_id, chart_start: "star") %>">
                          <%= presenter.instructional_reading_level %>
                      </td>
                    <% end %>
