                <tr class="student-row">
                  <td class="name" href="<%= student_url(student_id) %>">
                      <%= presenter.full_name %>
                  </td>
                  <td class="risk risk-tooltip-circle" data-student-id="<%= student_id %> "href="<%= student_url(student_id) %>">
                    <div class="warning-bubble <%= presenter.risk_level_css_class_name %>">
                      <%= presenter.risk_level_as_string %>
                    </div>
                  </td>
                  <td class="program" href="<%= student_url(student_id) + "#demographics-row" %>">
                      <%= presenter.program_assigned %>
                  </td>
                  <td class="sped" href="<%= student_url(student_id) + "#demographics-row" %>">
                      <%= presenter.disability %>
                  </td>
                  <td class="sped" href="<%= student_url(student_id) + "#demographics-row" %>">
                      <%= presenter.sped_level_of_need %>
                  </td>
                  <td class="sped" href="<%= student_url(student_id) + "#demographics-row" %>">
                      <%= presenter.plan_504 %>
                  </td>
                  <td class="language" href="<%= student_url(student_id) + "#demographics-row" %>">
                      <%= presenter.limited_english_proficiency %>
                  </td>
                  <td class="language" href="<%= student_url(student_id) + "#demographics-row" %>">
                      <%= presenter.home_language %>
                  </td>
                  <td class="free-reduced" href="<%= student_url(student_id) + "#demographics-row" %>">
                      <%= presenter.free_reduced_lunch %>
                  </td>

                  <%= render "star_math_row_fragment", student_id: student_id, presenter: StarValuePresenter.new(assessment_data[:star_math_row_data]) %>

                  <%= render "star_reading_row_fragment", student_id: student_id, presenter: StarValuePresenter.new(assessment_data[:star_reading_row_data]) %>

                  <%= render "mcas_row_fragment", student_id: student_id, presenter: McasValuePresenter.new(assessment_data[:mcas_math_row_data]), subject: 'math' %>

                  <%= render "mcas_row_fragment", student_id: student_id, presenter: McasValuePresenter.new(assessment_data[:mcas_ela_row_data]), subject: 'ela' %>

                  <%= render "access_row_fragment", student_id: student_id, presenter: GenericAssessmentValuePresenter.new(assessment_data[:access_row_data]) %>

                  <%= render "dibels_row_fragment", student_id: student_id, presenter: GenericAssessmentValuePresenter.new(assessment_data[:dibels_row_data]) %>

                  <td class="interventions number-of-hours"
                      href="<%= student_url(student_id) %>"
                      title="<%= presenter.most_recent_atp_school_year %> school year">
                      <%= presenter.most_recent_atp_number_of_hours %>
                  </td>

                  <td class="bulk-intervention">
                      <input type="checkbox"
                             class="bulk-intervention-checkbox"
                             data-student-id="<%= student_id %>" />
                  </td>
                  <!--
                    Dummy column to offset absolutely
                    positioned last column. Last column
                    holds bulk intervention checkboxes.
                  -->
                  <td class="dummy-column">
                  </td>
                </tr>
