                <tr class="student-row">
                  <td class="name" href="<%= student_url(student) %>">
                    <div class="cell-wrapper">
                      <%= presenter.full_name %>
                    </div>
                  </td>
                  <td class="risk risk-tooltip-circle" data-student-id="<%= student.id %> "href="<%= student_url(student) %>">
                    <div class="warning-bubble <%= presenter.risk_level_css_class_name %>">
                      <%= presenter.risk_level_as_string %>
                    </div>
                  </td>
                  <td class="program" href="<%= student_url(student) + "#demographics-row" %>">
                    <div class="cell-wrapper">
                      <%= presenter.program_assigned %>
                    </div>
                  </td>
                  <td class="sped" href="<%= student_url(student) + "#demographics-row" %>">
                    <div class="cell-wrapper">
                      <%= presenter.disability %>
                    </div
                  </td>
                  <td class="sped" href="<%= student_url(student) + "#demographics-row" %>">
                    <div class="cell-wrapper">
                      <%= presenter.sped_level_of_need %>
                    </div
                  </td>
                  <td class="sped" href="<%= student_url(student) + "#demographics-row" %>">
                    <div class="cell-wrapper">
                      <%= presenter.plan_504 %>
                    </div
                  </td>
                  <td class="language" href="<%= student_url(student) + "#demographics-row" %>">
                    <div class="cell-wrapper">
                      <%= presenter.limited_english_proficiency %>
                    </div
                  </td>
                  <td class="language" href="<%= student_url(student) + "#demographics-row" %>">
                    <div class="cell-wrapper">
                      <%= presenter.home_language %>
                    </div
                  </td>
                  <td class="free-reduced" href="<%= student_url(student) + "#demographics-row" %>">
                    <div class="cell-wrapper">
                      <%= presenter.free_reduced_lunch %>
                    </div
                  </td>

                  <%= render "star_math_row_fragment", student: student, presenter: StarValuePresenter.new(assessment_data[:star_math_row_data]) %>

                  <%= render "star_reading_row_fragment", student: student, presenter: StarValuePresenter.new(assessment_data[:star_reading_row_data]) %>

                  <%= render "mcas_row_fragment", student: student, presenter: McasValuePresenter.new(assessment_data[:mcas_math_row_data]) %>

                  <%= render "mcas_row_fragment", student: student, presenter: McasValuePresenter.new(assessment_data[:mcas_ela_row_data]) %>

                  <%= render "access_row_fragment", student: student, presenter: GenericAssessmentValuePresenter.new(assessment_data[:access_row_data]) %>

                  <%= render "dibels_row_fragment", student: student, presenter: GenericAssessmentValuePresenter.new(assessment_data[:dibels_row_data]) %>

                </tr>
