<div class="topline-info">
  <h1>Room <%= @homeroom.name %></h1>
</div>

<div id="roster-controls">
  <div>
    <p>Homeroom:</p>
    <select id="homeroom-select">
      <% @homerooms_by_name.each do |r| %>
        <option <% if r == @homeroom %>selected<% end %> value="<%= r.slug %>">
          <%= r.name %>
        </option>
      <% end %>
    </select>
  </div>
  <div id="student-searchbar-wrapper" class="dropdown"></div>
</div>

<div id="homeroom-table"></div>

<%= json_div(id: "homeroom-data", data: { homeroom: @homeroom}) %>
<%= json_div(id: "current-educator-data", data: { current_educator: current_educator}) %>
<%= json_div(id: "serialized-data", data: @serialized_data) %>
