  <div id="controls">
    <div id="roster-nav-options" class="nav-options">
      <p>Homeroom:</p>
      <select id="homeroom-select">
        <% @homerooms_by_name.each do |r| %>
          <option <% if r == @homeroom %>selected<% end %> value="<%= r.slug %>">
            <%= r.name %>
          </option>
        <% end %>
      </select>
    </div>
    <div id="student-searchbar-wrapper" class="dropdown">
    </div>
  </div>
  <div class="info-area">

    <div class="underline topline-info">
      <h1 id="student-name">Room <%= @homeroom.name %></h1>
      <div id="roster-tooltip" class="tooltip-trigger">
        <p>Help</p>
        <span id="roster-help-icon">?</span>
      </div>
      <% if current_educator.admin? %>
        <div class="homeroom-links">
          <%= link_to 'STAR Reading', star_reading_school_path(@school_id, anchor: @star_homeroom_anchor) %>
          <%= link_to 'STAR Math', star_math_school_path(@school_id, anchor: @star_homeroom_anchor) %>
        </div>
      <% end %>
    </div>

    <div id="roster-chart"></div>

    <div id="roster-table-wrapper">
      <table id="roster-table" border="0" cellspacing="0" cellpadding="10" class="sort-default">
        <thead>
          <tr class="column-groups">
            <!-- TOP-LEVEL COLUMN GROUPS -->
            <td colspan="1" class="name"></td>
            <td colspan="1" class="risk"></td>
            <td colspan="1" class="program"></td>
            <td colspan="3" class="sped"><p class="smalltype">SPED & Disability</p></td>
            <td colspan="2" class="language"><p class="smalltype">Language</p></td>
            <td colspan="1" class="free-reduced"></td>
            <% if @homeroom.show_star? %>
              <td colspan="1" class="star_math"><p class="smalltype">STAR: Math</p></td>
              <td colspan="1" class="star_reading"><p class="smalltype">STAR: Reading</p></td>
            <% end %>
            <% if @homeroom.show_mcas? %>
              <td colspan="2" class="mcas_math"><p class="smalltype">MCAS: Math</p></td>
              <td colspan="2" class="mcas_ela"><p class="smalltype">MCAS: ELA</p></td>
            <% end %>
            <td colspan="1" class="interventions">
              <p class="smalltype">Interventions</p>
            </td>
            <td id="column-picker-row" class="bulk-intervention">
                <span id="column-picker-toggle"><img src="<%= asset_path('menu.svg') %>"/></span>
                <div id="column-picker">
                  <p>Select columns</p>
                  <form id="column-listing">
                    <div id="column-template">
                      <input type="checkbox" name="" value="">
                      <label></label>
                    </div>
                  </form>
                </div>
            </td>
          </tr>
          <tr class="column-names">
            <!-- COLUMN HEADERS -->
            <!-- i.e. "MCAS Math Growth", "STAR Reading Performance" -->
            <th class="name">
              <span id="first-column-header" class="table-header">Name</span>
            </th>
            <th class="risk sort-default" data-sort-method="reverse_number">
              <span class="table-header">Risk</span>
            </th>
            <th class="program">
              <span class="table-header">Program Assigned</span>
            </th>
            <th class="sped">
              <span class="table-header">Disability</span>
            </th>
            <th class="sped">
              <span class="table-header">Level of Need</span>
            </th>
            <th class="sped">
              <span class="table-header">504 Plan</span>
            </th>
            <th class="language">
              <span class="table-header">Fluency</span>
            </th>
            <th class="language">
              <span class="table-header">Home Language</span>
            </th>
            <th class="free-reduced">
              <span class="table-header">Free/Reduced Lunch</span>
            </th>
            <% if @homeroom.show_star? %>
              <th class="star_math" data-sort-method="number">
                <span class="table-header">Percentile</span>
              </th>
              <th class="star_reading" data-sort-method="number">
                <span class="table-header">Percentile</span>
              </th>
            <% end %>
            <% if @homeroom.show_mcas? %>
              <th class="mcas_math" data-sort-method="mcas_sort">
                <span class="table-header">Performance</span>
              </th>
              <th class="mcas_math" data-sort-method="number">
                <span class="table-header">Growth</span>
              </th>
              <th class="mcas_ela" data-sort-method="mcas_sort">
                <span class="table-header">Performance</span>
              </th>
              <th class="mcas_ela" data-sort-method="number">
                <span class="table-header">Growth</span>
              </th>
            <% end %>
            <th class="interventions"
              <span class="table-header">ATP Hours</span>
            </th>
            <th colspan="1" rowspan="1" class="bulk-intervention no-sort">
              &nbsp;
              <%= link_to "+", new_bulk_intervention_assignment_path, id: 'assign-bulk-interventions', class: 'hidden' %>
            </th>
          </tr>
       </thead>
        <% if @rows.present? %>
          <!-- ROWS -->
          <% @rows.each do |row| %>

            <tr class="student-row">
              <td class="name">
                <a href="<%= student_url(row["id"]) %>">
                  <%= "#{row['first_name']} #{row['last_name']}" %>
                </a>
              </td>
              <td class="risk risk-tooltip-circle" data-student-id="<%= row['id'] %> ">
                <div class="warning-bubble risk-<%= row[:student_risk_level]['level'] || 'na' %>">
                  <%= row[:student_risk_level]['level'] || 'N/A' %>
                </div>
              </td>
              <td class="program">
                <%= row['program_assigned'] %>
              </td>
              <td class="sped">
                <%= row['disability'] %>
              </td>
              <td class="sped">
                <%= row['sped_level_of_need'] %>
              </td>
              <td class="sped">
                <%= row['plan_504'] %>
              </td>
              <td class="language">
                <%= row['limited_english_proficiency'] %>
              </td>
              <td class="language">
                <%= row['home_language'] %>
              </td>
              <td class="free-reduced">
                <%= row['free_reduced_lunch'] %>
              </td>

              <% if @homeroom.show_star? %>
                <td class="star_math percentile_rank">
                  <%= row['most_recent_star_math_percentile'] %>
                </td>
                <td class="star_reading percentile_rank">
                  <%= row['most_recent_star_reading_percentile'] %>
                </td>
              <% end %>

               <% if @homeroom.show_mcas? %>
                <td class="mcas_math performance_level">
                  <%= row['most_recent_mcas_math_performance'] %>
                </td>
                <td class="mcas_math growth_percentile">
                  <%= row['most_recent_mcas_math_scaled'] %>
                </td>
                <td class="mcas_ela performance_level">
                  <%= row['most_recent_mcas_ela_performance'] %>
                </td>
                <td class="mcas_ela growth_percentile">
                  <%= row['most_recent_mcas_ela_scaled'] %>
                </td>
              <% end %>

              <td class="interventions number-of-hours"
                  title="<%= row[:most_recent_atp_number_of_hours] %> school year">
                  <%= row[:most_recent_atp_number_of_hours] %>
              </td>

              <td class="bulk-intervention">
                  <input type="checkbox"
                         class="bulk-intervention-checkbox"
                         data-student-id="<%= row['id'] %>" />
              </td>
              <!--
                Dummy column to offset absolutely
                positioned last column. Last column
                holds bulk intervention checkboxes.
              -->
              <td class="dummy-column">
              </td>
            </tr>

          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <script id="roster-tooltip-template" type="x-tmpl-mustache">
    <div class="tooltip-popup">
      <div class="warning-header">
        <div class="warning-dot"></div>
        <h6>Warning Indicators</h6>
      </div>
      <div class="warning-set">
        <p><strong>MCAS Performance:</strong> Warning</p>
        <p><strong>MCAS Growth:</strong> Below the 40th percentile</p>
        <p><strong>STAR Percentile:</strong> Below the 40th percentile</p>
        <p><strong>STAR Reading IRL:</strong> A year or more behind</p>
      </div>
    </div>
  </script>

  <% @rows.each do |row| %>
    <script class="risk-level-tooltip"
            type="x-tmpl-mustache"
            data-student-id="<%= row[:student_risk_level]['student_id'] %>" >
      <div class="tooltip-popup student-risk-level-tooltip">
        <%= row[:student_risk_level][:explanation].html_safe %>
      </div>
    </script>
  <% end %>

  <%= tag("div", id: "chart-data", data: @risk_levels) %>
  <%= tag("div", id: "homeroom-data", data: { homeroom: @homeroom}) %>
  <%= tag("div", id: "current-educator-data", data: { current_educator: current_educator}) %>
