  <div id="controls">
    <div id="homeroom-dropdown" class="dropdown">
      <p>Homeroom:</p>
      <select id="homeroom-select">
        <% @homerooms_by_name.each do |r| %>
          <option <% if r == @homeroom %>selected<% end %> value="<%= r.slug %>">
            <%= r.name %>
          </option>
        <% end %>
      </select>
    </div>
    <div id="roster-tooltip" class="tooltip-trigger">
      <p>Help</p>
      <span id="roster-help-icon">?</span>
    </div>
    <div id="column-group-dropdown" class="dropdown">
      <select id="column-group-select" class="chosen-select" data-placeholder="Choose information to show..." tabindex="4" multiple>
        <option value="name" <% if cookies[:columns_selected].include?("name") %>selected<% end %>>
          Name
        </option>
        <option value="risk" <% if cookies[:columns_selected].include?("risk") %>selected<% end %>>
            Risk Level
        </option>
        <option value="program" <% if cookies[:columns_selected].include?("program") %>selected<% end %>>
          Program
        </option>
        <option value="language" <% if cookies[:columns_selected].include?("language") %>selected<% end %>>
          Language
        </option>
        <option value="free-reduced" <% if cookies[:columns_selected].include?("free-reduced") %>selected<% end %>>
          Free/Reduced Lunch
        </option>
        <option value="sped" <% if cookies[:columns_selected].include?("sped") %>selected<% end %>>
          SPED & Disability
        </option>
        <% if @homeroom.show_star? %>
          <option value="star_math" <% if cookies[:columns_selected].include?("star_math") %>selected<% end %>>
            STAR: Math
          </option>
        <% end %>
	<% if @homeroom.show_star? %>
            <option value="star_reading" <% if cookies[:columns_selected].include?("star_reading") %>selected<% end %>>
	    STAR: Reading
            </option>
        <% end %>
        <% if @homeroom.show_mcas? %>
          <option value="mcas_math" <% if cookies[:columns_selected].include?("mcas_math") %>selected<% end %>>
            MCAS: Math
          </option>
	  <option value="mcas_ela" <% if cookies[:columns_selected].include?("mcas_ela") %>selected<% end %>>
              MCAS: ELA
          </option>
        <% end %>
        <option value="access" <% if cookies[:columns_selected].include?("access") %>selected<% end %>>
          ACCESS
        </option>
        <% if @homeroom.show_dibels? %>
          <option value="dibels" <% if cookies[:columns_selected].include?("dibels") %>selected<% end %>>
            DIBELS
          </option>
        <% end %>
        <option value="attendance" <% if cookies[:columns_selected].include?("attendance") %>selected<% end %>>
          Attendance
        </option>
        <option value="discipline" <% if cookies[:columns_selected].include?("discipline") %>selected<% end %>>
          Discipline
        </option>
      </select>
    </div>
  </div>
  <div class="info-area">
    <table id="roster-table" border="0" cellspacing="0" cellpadding="10" class="sort-default">
      <thead>
        <tr class="column-groups">
          <!-- TOP-LEVEL COLUMN GROUPS -->
          <!-- i.e. "ACCESS", "STAR - reading" -->
          <td colspan="1" class="name <%= initial_show_or_hide('name') %>"></td>
          <td colspan="1" class="risk <%= initial_show_or_hide('risk') %>"></td>
          <td colspan="1" class="program <%= initial_show_or_hide('program') %>"></td>
          <td colspan="3" class="sped <%= initial_show_or_hide('sped') %>"><p class="smalltype">SPED & Disability</p></td>
          <td colspan="2" class="language <%= initial_show_or_hide('language') %>"><p class="smalltype">Language</p></td>
          <td colspan="1" class="free-reduced <%= initial_show_or_hide('free-reduced') %>"></td>
          <% if @homeroom.show_star? %>
            <td colspan="1" class="star_math <%= initial_show_or_hide('star_math') %>"><p class="smalltype">STAR: Math</p></td>
	    <td colspan="2" class="star_reading <%= initial_show_or_hide('star_reading') %>"><p class="smalltype">STAR: Reading</p></td>
          <% end %>
          <% if @homeroom.show_mcas? %>
            <td colspan="2" class="mcas_math <%= initial_show_or_hide('mcas') %>"><p class="smalltype">MCAS: Math</p></td>
	    <td colspan="2" class="mcas_ela <%= initial_show_or_hide('mcas') %>"><p class="smalltype">MCAS: ELA</p></td>
          <% end %>
          <td colspan="3" class="access <%= initial_show_or_hide('access') %>"><p class="smalltype">ACCESS</p></td>
          <% if @homeroom.show_dibels? %>
            <td colspan="1" class="dibels <%= initial_show_or_hide('dibels') %>"><p class="smalltype">DIBELS</p></td>
          <% end %>
          <td colspan="2" class="attendance <%= initial_show_or_hide('attendance') %>"><p class="smalltype">Attendance</p></td>
          <td colspan="1" class="discipline <%= initial_show_or_hide('discipline') %>"><p class="smalltype">Discipline</p></td>
        </tr>
        <tr class="column-names">
          <!-- COLUMN HEADERS -->
          <!-- i.e. "MCAS Math Growth", "STAR Reading Performance" -->
          <th class="name <%= initial_show_or_hide('name') %>">
            <span id="first-column-header" class="table-header">
              Name
            </span>
          </th>
          <th class="risk sort-default <%= initial_show_or_hide('risk') %>" data-sort-method="reverse_number">
            <span class="table-header">
              Risk
            </span>
          </th>
          <th class="program <%= initial_show_or_hide('program') %>">
            <span class="table-header">Program Assigned</span>
          </th>
          <th class="sped <%= initial_show_or_hide('sped') %>">
            <span class="table-header">Disability</span>
          </th>
          <th class="sped <%= initial_show_or_hide('sped') %>">
            <span class="table-header">Level of Need</span>
          </th>
          <th class="sped <%= initial_show_or_hide('sped') %>">
            <span class="table-header">504 Plan</span>
          </th>
          <th class="language <%= initial_show_or_hide('language') %>">
            <span class="table-header">Fluency</span>
          </th>
          <th class="language <%= initial_show_or_hide('language') %>">
            <span class="table-header">Home Language</span>
          </th>
          <th class="free-reduced <%= initial_show_or_hide('free-reduced') %>">
            <span class="table-header">Free/Reduced Lunch</span>
          </th>
          <% if @homeroom.show_star? %>
            <th class="star_math <%= initial_show_or_hide('star_math') %>" data-sort-method="number">
              <span class="table-header">Percentile</span>
            </th>
            <th class="star_reading <%= initial_show_or_hide('star_reading') %>" data-sort-method="number">
              <span class="table-header">Percentile</span>
            </th>
            <th class="star_reading <%= initial_show_or_hide('star_reading') %>" data-sort-method="number">
              <span class="table-header">Reading Level</span>
            </th>
          <% end %>
          <% if @homeroom.show_mcas? %>
            <th class="mcas_math <%= initial_show_or_hide('mcas_math') %>" data-sort-method="mcas_sort">
              <span class="table-header">Performance</span>
            </th>
            <th class="mcas_math <%= initial_show_or_hide('mcas_math') %>" data-sort-method="number">
              <span class="table-header">Growth</span>
            </th>
            <th class="mcas_ela <%= initial_show_or_hide('mcas_ela') %>" data-sort-method="mcas_sort">
              <span class="table-header">Performance</span>
            </th>
            <th class="mcas_ela <%= initial_show_or_hide('mcas_ela') %>" data-sort-method="number">
              <span class="table-header">Growth</span>
            </th>
          <% end %>
          <th class="access <%= initial_show_or_hide('access') %>">
            <span class="table-header">Score</span>
          </th>
          <th class="access <%= initial_show_or_hide('access') %>">
            <span class="table-header">Level</span>
          </th>
          <th class="access <%= initial_show_or_hide('access') %>">
            <span class="table-header">Growth</span>
          </th>
          <% if @homeroom.show_dibels? %>
            <th class="dibels <%= initial_show_or_hide('dibels') %>">
              <span class="table-header">Level</span>
            </th>
          <% end %>
          <th class="attendance <%= initial_show_or_hide('attendance') %>">
            <span class="table-header">Absences</span>
          </th>
          <th class="attendance <%= initial_show_or_hide('attendance') %>">
            <span class="table-header">Tardies</span>
          </th>
          <th class="discipline <%= initial_show_or_hide('discipline') %>">
            <span class="table-header">Behavior Incidents</span>
          </th>
        </tr>
     </thead>
      <% if @rows.present? %>
        <!-- ROWS -->
        <% @rows.each do |row| %>
          <%= render "student_row",
              student: row[:student],
              presenter: row[:student_presenter],
              assessment_data: row[:assessment_data] unless row.nil? %>
        <% end %>
      <% end %>
    </table>
  </div>

  <script id="roster-tooltip-template" type="x-tmpl-mustache">
    <div class="tooltip-popup">
      <div class="warning-header">
        <div class="warning-dot"></div>
        <h6>Warning Indicators</h6>
      </div>
      <div class="warning-set">
        <p><strong>MCAS Performance:</strong> Warning</p>
        <p><strong>MCAS Growth:</strong> Below the 40th percentile</p>
        <p><strong>STAR Percentile:</strong> Below the 40th percentile</p>
        <p><strong>STAR Reading IRL:</strong> A year or more behind</p>
      </div>
    </div>
  </script>

  <% @rows.each do |row| %>
    <script class="risk-level-tooltip" type="x-tmpl-mustache" data-student-id="<%= row[:student_risk_level][:student_id] %>">
      <div class="tooltip-popup student-risk-level-tooltip">
        <%= row[:student_risk_level][:explanation].html_safe %>
      </div>
    </script>
  <% end %>
