<div class="info-area">

  <div class="who">
    <h5>Who is it for</h5>
    <h4>This is a tool for teachers in Somerville, MA.</h4>
      <p>It's being built by Code for America's <a href="http://www.codeforamerica.org/governments/somerville/" target="_blank">Team Somerville</a>, working closely with our partners in Somerville: the 5th grade teacher team at Healey School, Principal Jill Geiser, Uri Harel (Elementary Curriculum Coordinator) and Vince McKay (Assistant Superintendent), and Stephanie Hirsch.</p>
    <%= image_tag "teachers.png" %>
  </div>

  <div class ="what">
    <h5>What is it</h5>
    <p>We plan for the beta version of tool to have the following three modules</p>
      <div class="roster-pillar">
        <h4>Roster</h4>
        <%= image_tag "roster_pillar.png" %>
          <p>Giving teachers a current snapshot of their classroom that shows which students are  most at risk.</p>
      </div>
      <div class="profile-pillar">
        <h4>Profile</h4>
        <%= image_tag "profile_pillar.png" %>
          <p>A deep yearly history of the teacher's current students over time, both academic and behavioural.</p>
      </div>
      <div class="interventions-pillar">
        <h4>Interventions</h4>
        <%= image_tag "interventions_pillar.png" %>
          <p>Showing teachers which students are most in need of interventions and giving the ability to log interventions.</p>
      </div>
  </div>
  
  <div class="how">
    <h5>How is it going</h5>
    <h4>Current status: In development</h4>
      <p>This is currently an <strong>alpha product</strong>. We are still working out bugs and building out new features.</p>
      <p>See the code for this teacher tool and leave a comment on <a href="https://github.com/codeforamerica/somerville-teacher-tool" target="_blank">GitHub.</a></p>
  </div>

  <div class="logos">
    <a href="http://www.somervillema.gov/" target="_blank"><%= image_tag "somerville_logo.png" %></a>
    <a href="https://www.codeforamerica.org/" target="_blank"><%= image_tag "cfa_logo.png" %></a>
  </div>

</div>