<%- unless @intervention.errors.present? %>
  var data = {
    name: "<%= @intervention.name %>",
    comment: "<%= escape_javascript @intervention.comment %>",
    goal: "<%= escape_javascript @intervention.goal %>",
    start_date: "<%= @intervention.start_date.strftime('%B %e, %Y') %>",
    end_date: "<%= @intervention.end_date.strftime('%B %e, %Y') if @intervention.end_date.present? %>",
    educator_email: "<%= @intervention.educator.email if @intervention.educator.present? %>",
    id: "<%= @intervention.id %>"
  }
  var cell_template = $('#intervention-cell-template').html();
  var detail_template = $('#intervention-detail-template').html();
  var cell = Mustache.render(cell_template, data);
  var detail = Mustache.render(detail_template, data);
  $('#intervention-cell-list').prepend(cell);
  $('#intervention-detail-list').prepend(detail);
  $('#open-intervention-form').removeClass('solo');
  $('#new_intervention').hide();
  $('#interventions-tab form textarea').val('');
  $('#interventions-tab form .datepicker').val('');
  $('#intervention_intervention_type_id :nth-child(1)').prop('selected', true);
<%- else %>
  <% @intervention.errors.full_messages.each do |msg| %>
    $('#interventions-tab form .errors').prepend("<br/><li><%= msg %></li>");
  <% end %>
<%- end %>
