        <table class="dashboard-table bigtype">
          <thead>
            <tr>
              <th>Name</th>
              <th><%= header %></th>
              <th>Interventions</th>
            </tr>
          </thead>
          <tbody>
            <% students.each do |student| %>
              <tr>
                <td><%= link_to student[:name], student_path(student[:id]), class: "bigtype" %></td>
                <td><%= student[:result_value] %></td>
                <td>
                  <% if student[:interventions_count] == 0 then %>
                    <span class="warning-text"><%= student[:interventions_count] %></span>
                  <% else %>
                    <%= student[:interventions_count] %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <br/>
