<div class="school-dashboard info-area">
  <div class="topline-info underline">
    <h1>Classrooms at Risk: <%= @school.name %></h1>
  </div>
  <div class="detailed-content-area">
    <div class="left-panel">
      <div class="mcas-math-concern">
        <h2>Math: MCAS</h2>
        <%= render "homeroom_table", homerooms: @top_mcas_math_concerns, header: 'Average Score' %>
      </div>
      <div class="mcas-ela-concern">
        <h2>ELA: MCAS</h2>
        <%= render "homeroom_table", homerooms: @top_mcas_ela_concerns, header: 'Average Score' %>
      </div>
      <p><em>Data reflect most recent available MCAS results.</em></p>
    </div>
    <div class="right-panel">
      <div class="attendance-section">
        <h2>Attendance: Absences</h2>
        <%= render "homeroom_table", homerooms: @top_absences, header: 'Absences' %>
        <h2>Attendance: Tardies</h2>
        <%= render "homeroom_table", homerooms: @top_tardies, header: 'Tardies' %>
        <p><em>Data reflect absences and tardies during this current school year.</em></p>
      </div>
    </div>
  </div>
</div>
