<div class="school-dashboard info-area">
  <div class="topline-info underline">
    <h1>Students at Risk: <%= @school.name %></h1>
  </div>
  <div class="detailed-content-area summary-container">
    <div class="left-panel">
      <div class="mcas-math-concern">
        <h2>Math: MCAS</h2>
        <%= render "student_table", students: @top_mcas_math_concerns, header: 'Score' %>
      </div>
      <div class="mcas-ela-concern summary-container">
        <h2>ELA: MCAS</h2>
        <%= render "student_table", students: @top_mcas_ela_concerns, header: 'Score' %>
      </div>
      <p><em>Data reflect most recent available MCAS results.</em></p>
    </div>
    <div class="right-panel">
      <div class="attendance-absences-concern summary-container">
        <h2>Attendance: Absences</h2>
        <%= render "student_table", students: @top_absences, header: 'Absences' %>
      </div>
      <div class="attendance-tardies-concern summary-container">
        <h2>Attendance: Tardies</h2>
        <%= render "student_table", students: @top_tardies, header: 'Tardies' %>
      </div>
      <p><em>Data reflect absences and tardies during this current school year.</em></p>
    </div>
  </div>
</div>
