<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render('shared/head') %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= if educator_signed_in? then "educator-signed-in" end %>">
    <%= render('shared/masquerade') %>
    <div class="Layout">
      <% if PerDistrict.new.warning_banner_message.present? %>
        <div class="Layout-message Layout-big-warning">
          <%= PerDistrict.new.warning_banner_message %>
        </div>
      <% end %>
      <% if ENV['STATUS_MESSAGE'] %>
        <div class=" Layout-message Layout-status-message">
          <%= ENV['STATUS_MESSAGE'] %>
        </div>
      <% end %>
      <% if educator_signed_in? %>
        <%= render partial: 'shared/navbar_signed_in', locals: { educator: current_educator, masquerade: masquerade } %>
      <% end %>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag Webpack.bundle('bundle.js') %>
  </body>
</html>
