<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render('shared/head') %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= if educator_signed_in? then "educator-signed-in" end %>">
    <%= render('shared/masquerade') %>
    <div class="nav">
      <% if ENV['DEPLOYMENT_KEY'] == 'demo' %>
        <div class="big_warning">
          <div>This is the demo site! It's filled with fake data.</div>
        </div>
      <% end %>
      <% if ENV['STATUS_MESSAGE'] %>
        <div class="status_message"><%= ENV['STATUS_MESSAGE'] %></div>
      <% end %>
      <% if educator_signed_in? %>
        <div class="navwrap">
          <a class="logo-container" href="/">
            <div class="logo">
              <div class="title" alt="Student Insights"></div>
            </div>
          </a>
          <%= render partial: 'shared/navbar_signed_in', locals: { educator: current_educator, masquerade: masquerade } %>
        </div>
      <% end %>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag Webpack.bundle('bundle.js') %>
  </body>
</html>
