<!DOCTYPE html>
<html>
<head>
  <title>Homeroom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="nav">
    <div class="navwrap">
      <h1 id="title">Home Room</h1>
      <%= link_to "Roster Demo", demo_url %> &bull; 
      <%= link_to "About", about_url %> &bull; 
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
      <p class="notice field"><%= notice %></p>
      <p class="alert field"><%= alert %></p>
    </div>
  </div>
  <%= yield %>
  <script src="https://code.jquery.com/jquery-git2.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
</body>