<!DOCTYPE html>
<html>
<head>
  <title>Homeroom</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="nav">
    <div class="navwrap">
        <h1 id="title">Home Room</h1>
        <nav>
          <%= link_to "Roster Demo", demo_url %> 
          <%= link_to "About", about_url %> 
          <% if educator_signed_in? %>
            <%= link_to "Sign Out", destroy_educator_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Sign In", new_educator_session_path %>
          <% end %>
        </nav>
      <p class="notice field"><%= notice %></p>
      <p class="alert field"><%= alert %></p>
    </div>
  </div>
  <%= yield %>
</body>