<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Insights</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <%= render('shared/mixpanel') if Rails.env.production? %>

    <!-- Help stuff is stored here, but not displayed. -->
    <div id='notes-help' style="display: none;">
      <p>The Notes tab is the place to keep notes about a student, whether it’s SST, MTSS, a parent conversation, or some informal strategies that a teacher/team is using to help a student. More formal strategies (e.g. the student meets with a tutor or counselor every week) should be recorded in Services.</p>
      <br>
      <p><b>Who can enter a note?</b> Anyone who works with or involved with the student, including classroom/ELL/SPED teachers, principals/assistant principals, counselors, and attendance officers.</p>
      <br>
      <p><b>What can/should I put in a note?</b> The true test is to think about whether the information will help your team down the road in supporting this student, either in the coming weeks, or a few years from now. Examples include:</p>
      <br>
      <ul>
        <li>"Oscar just showed a 20 point increase in ORF. It seems like the take home readings are working (parents are very supportive) and we will continue it."</li>
        <li>"This is a follow-up MTSS meeting for Julie. Over the last 4 weeks, she is not showing many gains despite the volunteer tutor and the change in seating…."</li>
        <li>"Alex just got an M on the latest F&P. Will try having him go next door to join the other 4th grade group during guided reading."</li>
        <li>"Medicine change for Uri on 4/10. So far slight increase in focus."</li>
        <li>"51a filed on 3/21. Waiting determination and follow-up from DCF."</li>
        <li>"Just found that Cora really likes to go help out in grade 1. Best incentive yet for when she stays on task and completes work."</li>
        <li>"Arranged for Kevin to go to community schools 2x/week and to get extra homework help."</li>
        <li>"Julia will do an FBA and report back at the next SST meeting to determine sources of the behavior."</li>
        <li>"Mediation occurred between Oscar and Uri and went well. Both have agreed to keep distance for 2 weeks."</li>
        <li>"Parent called to report that Jill won art award and will be going to nationals. She suggested this might be an outlet if she shows frustration in schoolwork."</li>
      </ul>
    </div>

    <div id='services-help' style="display: none;">
      <p>While Notes are a catch-all for student information, Services are a place to keep track of more formal extensive interventions for a student. It includes a specific person responsible and dates.</p>
      <br>
      <p>The types of Services are:</p>
      <ul>
        <li><b>Reading Teacher:</b> Student works with a reading specialist at least 4x/week for 30-40 minutes.</li>
        <li><b>Behavior/Attendance Contract:</b> This is usually done in cooperation with the attendance officer, school adjustment counselor, and/or principal. This is a more formal document that requires a parent and student signature, along with regular checkpoints.</li>
        <li><b>Attendance Officer:</b> This usually includes home visit(s), regular follow-up, and could later on lead to a formal attendance contract.</li>
        <li><b>Counseling:</b> Student receives regular weekly or bi-weekly counseling from an SPS counselor or outside (ex. Riverside, Home for Little Wanderers). One time or infrequent check-ins by a counselor should just be recorded in Notes.</li>
      </ul>
      <br>
      <p>If your data fits into one of these categories, it's a Service. Otherwise, it's a Note.</p>
    </div>

  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= if educator_signed_in? then "educator-signed-in" end %>">
    <div class="nav">
      <div id="renew-session">
        Please click <a href="#" id="renew-sesion-link">this link</a> or your session will timeout due to inactivity.
      </div>
      <div class="navwrap">
        <a class="logo-container" href="/">
          <div class="logo">
            <div class="title" alt="Student Insights"></div>
          </div>
        </a>
        <% if educator_signed_in? %>
          <div class="nav-options">
            <% if current_educator.admin? && current_educator.school != nil %>
              <%= link_to 'School Overview', school_path(current_educator.school) %>
              <%= link_to 'STAR Reading', star_reading_school_path(current_educator.school) %>
              <%= link_to 'STAR Math', star_math_school_path(current_educator.school) %>
            <% end %>
            <p class="search-label">Search for student:</p>
            <input id="student-searchbar" />
            <%= link_to "Sign Out", destroy_educator_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="sign-in-container">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="sign-in-item">
                <%= f.label :email %>
                <%= f.email_field :email, class: 'sign-in-text', autofocus: true %>
              </div>
              <div class="sign-in-item">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'sign-in-text', autocomplete: "off" %>
              </div>
              <div class="sign-in-item">
                <%= f.submit "Log in", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <%= yield %>
    <%= tag("div", id: "calendar-icon-path", data: { path: asset_path('calendar-icon.svg') }) %>
    <%= # Gives the front-end clues about what UI elements to render or not.
        # All functionality meant for admins only should be restricted on the server side.
        # This tag is a helper for the UI, not a security feature.

        tag("div", id: "educator-is-admin") if current_educator.try(:admin) %>
  </body>
</html>
