<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Insights</title>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <%= render('shared/mixpanel') if Rails.env.production? %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= if educator_signed_in? then "educator-signed-in" end %>">
    <div class="nav">
      <div id="renew-session">
        Please click <a href="#" id="renew-sesion-link">this link</a> or your session will timeout due to inactivity.
      </div>
      <div class="navwrap">
        <div id="logo">
          <div id="title" alt="Student Insights"></div>
        </div>
        <nav>
          <% if educator_signed_in? %>
            <div class="nav-options">
              <p class="search-label">Search for student:</p>
              <input id="student-searchbar" />
              <% if current_educator.admin? %>
                <% unless controller_name == 'schools' && action_name == 'show' %>
                  <%= link_to 'School Overview Dashboard', school_path(School.first) %>
                <% end %>
              <% end %>
            </div>
            <%= link_to "Sign Out", destroy_educator_session_path, method: :delete %>
          <% else %>
            <%= link_to "About", about_url %>
            <%= link_to "Sign In", new_educator_session_path %>
          <% end %>
        </nav>
        <p class="notice field"><%= notice %></p>
        <p class="alert field"><%= alert %></p>
      </div>
    </div>
    <%= yield %>
    <%= tag("div", id: "calendar-icon-path", data: { path: asset_path('calendar-icon.svg') }) %>
    <%= # Gives the front-end clues about what UI elements to render or not.
        # All functionality meant for admins only should be restricted on the server side.
        # This tag is a helper for the UI, not a security feature.

        tag("div", id: "educator-is-admin") if current_educator.try(:admin) %>
  </body>
</html>
